
img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 5);
color: royalblue;
}

.alphat img{
    margin: 10px 50px 0px 20px;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: 10px solid rgb(255, 255, 255);
}
h2{
    text-align: center;
    margin: 20px auto;
}

.alphat h3{
    text-align: center;
    height: 60px;
    padding: 20px;
    text-decoration: none;
    overflow: hidden;
    font-size: medium;
}
ul.navbar{
    list-style-type: none;
    margin: 50px 400px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}
ul.navbar li{
    float: left;
 }
 ul.navbar li a{
     display: block;
     color: white;
     text-align: center;
     padding: 14px 60px;
     text-decoration: none;
 }
 ul.navbar li a:hover:not(.active){
     background-color: #111;
 }
 ul.navbar li a.active{
     background-color:#04AA6D;
}
.section{
    background-color: rgb(236, 233, 233);
    margin: 0 auto; 
}
  
